#wrapper {
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 6px;
    border: 0.5px solid rgba($white, .3);
    height: calc(100vh - 40px);

    @include media('<tablet'){
        border: none;
        margin: 0;
        overflow: visible;
        overflow-x: hidden;
        height: 100vh;
    }

    .body_lock & {
        overflow: hidden !important;
    }
}

.fp-tableCell {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto;

    @include media('<phone'){
        padding: 0 20px;
    }
}

.title {
    color: $white;
    font-family: $DegularText;
    font-size: 72px;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;

    @include media('<desktop'){
        font-size: 52px;
    }
}

.text {
    color: $white;
    font-family: $DegularText;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}


/* -----------------------------main-section----------------------- */

.main-section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    perspective: 100vh;
	overflow: hidden;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));

    @include media('<tablet'){
        height: 100vh;
        transform: none;
    }

    @include media('<phone'){
        min-height: 700px;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        transform-style: preserve-3d;
        transform: rotateX(var(--move-y)) rotateY(var(--move-x));
        will-change: transform;
        transition: transform var(--transition);

        @include media('<tablet'){
            min-height: 100vh;
            transform: none;
        }

        &::after {
            content:'';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 450px;
            display: none;
            z-index: 1;
            background: $black03;
            background: linear-gradient(180deg, rgba($black03, 0) 0%, $black03 100%);
    
            @include media('<tablet'){
                display: block;
            }

            @include media('<phone'){
                background: linear-gradient(180deg, rgba($black03, 0) 0%, $black03 50%);
            }
        }
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 auto;
        z-index: 1;
        padding: 100px 40px;

        @include media('<tablet'){
            z-index: 2;
            padding: 100px 40px 60px 40px;
        }

        @include media('<phone'){
            padding: 120px 20px 90px 20px;
        }
    }

    .text {
        max-width: 413px;
        opacity: 0;
        transition: $anim_2;

        &.show {
            opacity: 1;
        }

        @include media('<tablet'){
            max-width: 100%;
            text-align: center;
        }
    }

    .main-title {
        color: $white;
        font-family: $DegularText;
        font-size: 132px;
        font-weight: 800;
        line-height: 80%;
        text-transform: uppercase;
        margin: 0;

        @include media('<widescreen'){
            font-size: 100px;
        }

        @include media('<tablet'){
            font-size: 52px;
        }

        @include media('<phone'){
           background: $black03;
           margin: 0 -20px;
           padding: 20px;
        }

        span {
           display: block;
           text-align: right;

           &:first-child {
                padding-right: 15%;

                @include media('<phone'){
                    padding: 0;
                    text-align: left;
                }
            }
        }
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bot {
        position: absolute;
        display: block;
        bottom: 0;
    }

    .bot1 {
        width: 700px;
        left: 0;
        bottom: -20%;

        @include media('<widescreen'){
            width: 500px;
            bottom: -15%;
        }

        @include media('<desktop'){
            left: -10%;
        }

        @include media('<tablet'){
            width: 60%;
            bottom: 0;
        }

        @include media('<phone'){
            width: 250px;
            left: -60px;
            bottom: 220px;
        }
    }

    .bot2 {
        width: 600px;
        left: 50%;
        bottom: -15%;

        @include media('<widescreen'){
            width: 400px;
        }

        @include media('<tablet'){
            width: 50%;
            bottom: 0;
        }

        @include media('<phone'){
            width: 200px;
            bottom: 230px;
        }
    }

    .bot3 {
        width: 550px;
        right: 0;
        bottom: -30%;

        @include media('<widescreen'){
            width: 450px;
            bottom: -35%;
        }

        @include media('<desktop'){
            right: -10%;
        }

        @include media('<tablet'){
            width: 55%;
            bottom: -15%;
        }

        @include media('<phone'){
            width: 245px;
            bottom: 100px;
            right: -70px;
        }
    }

    .layer-1 {
        transform: translateZ(50px) scale(.8);
    }

    .layer-2 {
        transform: translateZ(-380px) scale(2);
    }

    .layer-3 {
        transform: translateZ(-250px);
    }

    .layer-4 {
        transform: translateX(-50%) translateZ(-50px);
  
        @include media('<tablet'){
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    .layer-5 {
        transform: translateZ(-250px);
    }

    .layer-1,
    .layer-2,
    .layer-3,
    .layer-5 {

        @include media('<tablet'){
            transform: none;
        }
    }  

}

/* -----------------------------about-section---------------------- */

.about-section {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media('<phone'){
        padding: 20px 0 60px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 auto;
    }

    .text-block {
        margin-bottom: 40px;
    }

    .title {
        max-width: 926px;
        margin: 0 auto 40px auto;
        opacity: 0;
        transition: $anim_1;

        @include media('<phone'){
            text-align: center;
        }

        &.show {
            opacity: 1;
        }

        span {

            &:first-child{
                display: block;
                max-width: max-content;
                margin-left: auto;

                @include media('<phone'){
                    display: inline;
                }
            }
        }
    }

    .about-block {
        display: flex;
        column-gap: 70px;
        row-gap: 20px;
        max-width: 700px;
        margin: 0 auto;

        @include media('<tablet_x'){
            column-gap: 40px;
        }

        @include media('<tablet'){
            flex-direction: column;
        }
    }

    .green-title {
        padding-top: 20px;
        color: $green4F;
        font-family: $PlexMono;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.8px;
        text-transform: uppercase;

        @include media('<tablet'){
            padding: 0;
            text-align: center;
        }
    }

    .about-text {
        position: relative;
        max-width: 8px;
        overflow: hidden;
        transition: all .7s ease-in .5s;

        @include media('<tablet'){
            max-width: 100%;
            max-height: 8px;
        }

        &.show {
            max-width: 520px;

            @include media('<tablet'){
                max-width: 100%;
                max-height: 500px;
            }
        }

        &::before,
        &::after {
            content:'';
            position: absolute;
            top: 0;
            width: 4px;
            height: 100%;
            background: url(../../images/icons/about-line.svg) 0 0/auto 100% no-repeat;

            @include media('<tablet'){
                width: 100%;
                height: 9px;
                background: url(../../images/icons/about-line-mob.svg) 0 0/100% auto no-repeat;
            }
        }

        &::before {
            left: 0;
            transform: rotate(180deg);
        }

        &::after {
            right: 0;
      
            @include media('<tablet'){
                left: 0;
                right: auto;
                top: auto;
                bottom: 0;
            }
        }

        .text {
            min-width: 520px;
            margin: 0;
            padding: 20px;
    
            @include media('<tablet'){
                padding: 30px 0;
                text-align: center;
                min-width: 0;
            }
        }
    }

    .about-slider {
        overflow: visible;
    }

    .swiper-wrapper {

        @include media('<tablet'){
            max-width: 335px;
            flex-direction: column;
            row-gap: 60px;
            margin: 0 auto;
        }
    }

    $slide-anim: .7s;

    .swiper-slide {
        position: relative;
        opacity: 0;
        transform: translateY(50px);
        transition: all $slide-anim ease 0s;

        &.show {
            opacity: 1;
            transform: translateY(0px);
        }

        &:nth-child(1) {

            &.show {
                transition-delay: 0s;
            }
        }

        &:nth-child(2) {

            &.show {
                transition-delay: .3s;

                @include media('<tablet'){
                    transition-delay: 0s;
                }
            }
        }

        &:nth-child(3) {

            &.show {
                transition-delay: .6s;

                @include media('<tablet'){
                    transition-delay: 0s;
                }
            }
        }

        &::after {
            content:'';
            position: absolute;
            top: 45%;
            right: -51%;
            width: 206px;
            height: 1px;
            background: rgba($white, .1);
            transform: rotate(-45deg);

            @include media('<1400px'){
                display: none;
            }

            @include media('<tablet'){
                display: block;
                top: auto;
                bottom: -5px;
                right: auto;
                left: 50%;
                width: 156px;
                transform: translate(-50%) rotate(45deg);
            }
        }

        &:first-child {

            .slide-content {

                &::before {
                    display: none;                
                }
            }
        }
        
        &:last-child {

            &::after {
                display: none;               
            }

            .slide-content {

                &::after {
                    display: none;                
                }
            }
        }

        &:nth-child(even) {

            &::after {
                transform: rotate(45deg);

                @include media('<tablet'){
                    transform: translate(-50%) rotate(-45deg);
                }
            }

            .slide-content {

                &::after {
                    top: 88px;    
                    
                    @include media('<tablet'){
                        top: auto;
                        bottom: 48px;
                        left: 220px;
                    }
                }
            }
        }

        &:nth-child(odd) {

            .slide-content {

                &::before {
                    top: 236px;    
                    
                    @include media('<tablet'){
                        top: -3px;
                        left: 108px;
                    }
                }
            }
        }
    }

    .slide-content {
        position: relative;
        padding: 36px 24px;
        min-height: 300px;
        background: url(../../images/icons/slide-border.svg) 0 0/100% auto no-repeat;

        &::before,
        &::after {
            content:'';
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $green4F;

            @include media('<1400px'){
                display: none;
            }

            @include media('<tablet'){
                display: block;
            }
        }

        &::before {
            top: 95px;
            left: 0;

            @include media('<tablet'){
                top: -3px;
                left: 220px;
            }
        }

        &::after {
            top: 242px;
            right: 0; 

            @include media('<tablet'){
                top: auto;
                bottom: 48px;
                left: 108px;
            }
        }
    }

    .icon-wrap {
        margin-bottom: 40px;

        @include media('<tablet'){
            text-align: center;
        }
    }

    .slide-title {
        margin-bottom: 10px;
        color: $white;
        font-family: $DegularText;
        font-size: 20px;
        font-weight: 800;
        line-height: 100%;
        text-transform: uppercase;

        @include media('<tablet'){
            text-align: center;
        }
    }

    .text {
        margin: 0;

        @include media('<tablet'){
            text-align: center;
        }
    }

}