.overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: $anim_03;
}

.overflow_active {
    z-index: 0;
    visibility: visible;
    opacity: 1;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 5;
    border-bottom: 0.5px solid rgba($white, .3);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    .logo {
        display: block;
        margin-right: 150px;
        z-index: 1;
        
        svg {
            fill: $white;
            transition: $anim_03;
        }

        &:hover {

            svg {
                transform: rotate(180deg);
            }
        }
    }

    .menu-block {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        @include media('<widescreen'){
            position: absolute;
            top: 0;
            right: -100%;
            width: 40%;
            height: 100vh;
            min-height: 100vh;
            align-items: start;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 100px;
            transition: $anim_07;
            overflow: auto;
            background-color: $black03;
        }

        @include media('<desktop_s'){
            width: 60%;
        }

        @include media('<tablet_s'){
            width: 100%;
        }

        &::before {
            content:'';
            position: absolute;
            top: 65px;
            left: 0;
            width: 100%;
            height: 1px;
            display: none;
            background-color: rgba($white, .3);

            @include media('<widescreen'){
                display: block;
            }
        }

        .active & {
            right: 0;
        }
    }

    .menu-wrap {
        z-index: 1;
        margin: 0 auto;

        @include media('<widescreen'){
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 0 auto;
            margin: 0;
            padding: 0 20px;
        }
    }

    .menu {
        position: relative;
        display: flex;
        align-items: center;
        gap: 36px;
        list-style: none;
        margin: 0;
        padding: 0;

        @include media('<widescreen'){
            flex-direction: column;
            align-items: start;
            padding: 20px 8px;
            width: 100%;
        }

        &::before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 100%;
            display: none;
            z-index: 1;
            background: url(../../images/icons/menu-line.svg) 0 0/auto 100% no-repeat;

            @include media('<widescreen'){
                display: block;
            }
        }
    }
        
    .link {
        position: relative;
        color: $white;
        font-family: $PlexMono;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        transition: $anim_03;
        padding: 2px 6px;  

        @include media('<widescreen'){
            font-size: 32px;
            padding: 1px 20px;
        }

        &:hover {
            background-color: $white;
            color: $black03;
        }
        
    }

    .song-block {
        position: relative;
        min-width: 170px;
        min-height: 20px;

        @include media('<widescreen'){
           min-width: 100%;
           min-height: auto;
           display: flex;
           align-items: center;
           justify-content: space-between;
           border-top: 1px solid rgba($white, .3);
           padding-bottom: 40px;
        }

        @include media('<tablet'){
            padding-bottom: 0;
        }

        @include media('<phone'){
            align-items: flex-start;
        }
    }

    .yer {
        display: none;
        flex: 1 0 auto;
        margin: 0;
        color: rgba($white, .3);
        font-family: $PlexMono;
        font-size: 10px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        padding: 20px;

        @include media('<widescreen'){
            display: block;
            border-right: 1px solid rgba($white, .3);
        }

        @include media('<phone'){
            padding: 20px 20px 90px 20px;
        }
    }

    .song-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 13px;
        border: none;
        display: flex;
        align-items: center;
        gap: 10px;
        background: none;
        padding: 0;
        overflow: hidden;
        transition: all .3s ease .3s;

        @include media('<widescreen'){
            position: relative;
            margin: 20px;
        }

        &.mute {
            width: 100%;

            .line1,
            .line2,
            .line3 {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background:  rgba($white, .8);
            }
        }
       
    }

    .on-btn {
        position: relative;
        min-width: 12px;
        height: 20px;

        &:hover {

            .line1,
            .line2,
            .line3 {
                background:  rgba($white, .3);
            }
        }
    }

    .line1,
    .line2,
    .line3 {
        position: absolute;
        width: 2px;
        background: $white;
        transition: $anim_03;
    }

    .line1 {
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 100%;
    }

    .line2 {
        top: 50%;
        transform: translateY(-50%);
        height: 12px;
        left: 0; 
    }

    .line3 {
        top: 50%;
        transform: translateY(-50%);
        height: 6px;
        left: 90%;
    }

    .enable-box {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        min-height: 20px;

        &::after,
        &::before {
            content:'';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;

            transition: $anim_03;
        }

        &::after {
            width: 0; 
            background: $white;          
        }

        &::before {
            width: 100%;
            background:  rgba($white, .3);           
        }

        &:hover {

            &::after {
                width: 100%;
            }
        }

        svg {
            width: 12px;
            height: 12px;
        }
    }

    .enable-text {
        color: $white;
        font-family: $PlexMono;
        font-size: 12px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin: 0;
        white-space: nowrap;
    }
}

/* ---------------burger */

.burger{
    display: none;
    position: relative;
    width: 24px;
    height: 15px;
    z-index: 1;
    border: none;
    outline: none;
    background: none;

    @include media('<widescreen'){
        display: block;
    }

    span{
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $white;
        border-radius: 10px;
    }
    
    &::before, &::after{
        content:'';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $white;
        border-radius: 10px;
    }

    &::before{
        top: 0;
        right: 0;
    }

    &::after{
        bottom: 0;
        left: 0;
    }

    $burger-anim-speed: .5s;
    $burger-anim-steps: 4;

    &.burger_active {

        span {
            animation: burger-line3 $burger-anim-speed steps($burger-anim-steps) forwards;
        }

        &::before{
            animation: burger-line2 $burger-anim-speed steps($burger-anim-steps) forwards;
        }
    
        &::after{
            animation: burger-line1 $burger-anim-speed steps($burger-anim-steps) forwards;
        }
    }

    &.burger_finish {

        span {
            animation: burger-line3-rev $burger-anim-speed steps($burger-anim-steps) forwards;
        }

        &::before{
            animation: burger-line2-rev $burger-anim-speed steps($burger-anim-steps) forwards;
        }
    
        &::after{
            animation: burger-line1-rev $burger-anim-speed steps($burger-anim-steps) forwards ;
        }
    }

}

@keyframes burger-line1 {
    0%{
        transform: rotate(0);
        bottom: 0;
    }
    50%{
        transform: rotate(-90deg);
        bottom: 45%;
        left: -15px;
    }
    100%{
        transform: rotate(-45deg);
        bottom: 45%;
    }
    
}

@keyframes burger-line2 {
    0%{
        transform: rotate(0);
        top: 0;
    }
    50%{
        transform: rotate(90deg);
        top: 45%;
        right: -15px;
    }
    100%{
        transform: rotate(45deg);
        top: 45%;
    }
}

@keyframes burger-line1-rev {
    0%{
        transform: rotate(-45deg);
        bottom: 45%;

    }
    50%{
        transform: rotate(-90deg);
        bottom: 45%;
        left: -15px;
    }
    100%{
        transform: rotate(0);
        bottom: 0;
    }
    
}

@keyframes burger-line2-rev {
    0%{
        transform: rotate(45deg);
        top: 45%;
    }
    50%{
        transform: rotate(90deg);
        top: 45%;
        right: -15px;
    }
    100%{
        transform: rotate(0);
        top: 0;
    }
}

@keyframes burger-line3{

    0%{
        transform: translate(0) rotate(0);
        opacity: 1;
    }

    50%{
        transform: rotate(90deg);
        opacity: 1;
    }

    100%{
        transform: translateY(40px) rotate(90deg);
        opacity: 0;
    }
}


@keyframes burger-line3-rev{

    0%{
        transform: translateY(40px) rotate(90deg);
        opacity: 0;
    }

    50%{
        transform: rotate(90deg);
        opacity: 1;
    }

    100%{
        transform: translate(0) rotate(0);
        opacity: 1;
    }
}