<footer class="section" id="footer">
    <div class="text-wrap">
        <div class="container">
            <div class="text-box">
                <p class="text">Boost your business with custom digital workers. Staffex provides advanced AI solutions, enhancing workforce efficiency through state-of-the-art digital workers that seamlessly integrate into your organization.</p>
            </div>
            <div class="list-box">
                <p class="list-title"><span>01</span> quick links</p>
                <ul class="menu">
                    <li class="menu-item">
                      <a class="link click-song" href="index.html#about-us">ABOUT US</a>
                    </li>
                    <li class="menu-item">
                      <a class="link click-song" href="index.html#secretary">SECRETARY</a>
                    </li>
                    <li class="menu-item">
                      <a class="link click-song" href="index.html#smm-manager">SMM MANAGER</a>
                    </li>
                    <li class="menu-item">
                      <a class="link click-song" href="index.html#accountant">Accountant</a>
                    </li>
                    <li class="menu-item">
                      <a class="link click-song" href="index.html#mobile-app">mobile app</a>
                    </li>
                  </ul>
            </div>
            <div class="list-box">
                <p class="list-title"><span>02</span> Social media</p>
                
                <ul class="menu">
                    <li class="menu-item">
                        <a class="link click-song" target="_blank" href="#">FACEBOOK</a>
                    </li>
                    <li class="menu-item">
                        <a class="link click-song" target="_blank" href="#">TWITTER</a>
                    </li>
                    <li class="menu-item">
                        <a class="link click-song" target="_blank" href="#">DISCORD</a>
                    </li>
                    <li class="menu-item">
                        <a class="link click-song" target="_blank" href="#">INSTAGRAM</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="title-wrap">
        <h2 class="title">Staffex</h2>
    </div>
    <div class="bot-footer">
        <a class="link-foot click-song" href="#">PRIVACY POLICY</a>
        <a class="link-foot click-song" href="#">TERMS AND CONDITIONS</a>
        <p class="text-foot">©2024</p>
    </div>
</footer>