<header id="header">
  	<div class="overflow"></div>
	<a href="index.html" class="logo click-song" aria-label="Site Logo">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
			<path d="M9.93574 0L0.929932 5.17185V9.3196L5.29163 11.8413L14.4657 6.53827L15.7209 7.3313L6.64093 12.5574L9.97283 14.6598L19.0699 9.24543V5.32019L14.5799 2.70716L5.50558 8.03305L4.22189 7.25428L13.2277 1.91698L9.93574 0Z"/>
			<path d="M0.929932 10.7173V14.6596L9.9985 19.9998L19.0699 14.7538V10.7173L9.9985 15.9804L0.929932 10.7173Z"/>
		  </svg>
	</a>
	<div class="menu-block">
		<nav class="menu-wrap">
		<ul class="menu">
			<li class="menu-item">
				<a class="link link-close click-song" href="#about-us">ABOUT US</a>
			</li>
			<li class="menu-item">
				<a class="link link-close click-song" href="#secretary">SECRETARY</a>
			</li>
			<li class="menu-item">
				<a class="link link-close click-song" href="#smm-manager">SMM MANAGER</a>
			</li>
			<li class="menu-item">
				<a class="link link-close click-song" href="#accountant">Accountant</a>
			</li>
			<li class="menu-item">
				<a class="link link-close click-song" href="#mobile-app">mobile app</a>
			</li>
			<li class="menu-item">
				<a class="link link-close click-song" href="partners.html">partners</a>
			</li>
		</ul>
		</nav>
		<div class="song-block">
		<p class="yer">©2024</p>
		<button class="song-btn click-song">
			<div class="on-btn">
			<span class="line1"></span>
			<span class="line2"></span>
			<span class="line3"></span>
			</div>
			<div class="enable-box">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="12"
				height="12"
				viewBox="0 0 12 12"
				fill="none"
			>
				<g clip-path="url(#clip0_533_1077)">
				<path
					d="M0.626953 11.7275L0.626953 0.272949L11.3549 6.00043L0.626953 11.7275Z"
					fill="white"
				/>
				</g>
				<defs>
				<clipPath id="clip0_533_1077">
					<rect
					width="11.4545"
					height="11.4545"
					fill="white"
					transform="translate(0.269531 0.272949)"
					/>
				</clipPath>
				</defs>
			</svg>
			<p class="enable-text">ENABLE THE SOUND</p>
			</div>
			<audio
			controls
			muted
			loop
			src="./files/site-song.mp3"
			></audio>
		</button>
		</div>
	</div>
	<button class="burger click-song">
		<span></span>
	</button>
</header>
