<header id="header">
    <div class="overflow"></div>
    <div class="container">
        <a href="index.html" class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                <path d="M8.7985 16.673L5.76709 13.6416C3.62291 11.4974 0 13.0131 0 16.0446V20.0002H17.597V7.87451L8.7985 16.673Z"/>
                <path d="M8.7985 3.32717L11.8299 6.3586C13.9741 8.50277 17.597 6.98706 17.597 3.95564V0H0V12.1257L8.7985 3.32717Z"/>
            </svg>
        </a>
        <div class="menu-block">
            <nav class="menu-wrap">
                <ul class="menu">
                    <li class="menu-item"><a class="link link-close" href="#">ABOUT US</a></li>
                    <li class="menu-item"><a class="link link-close" href="#">SECRETARY</a></li>
                    <li class="menu-item"><a class="link link-close" href="#">SMM MANAGER</a></li>
                    <li class="menu-item"><a class="link link-close" href="#">Accountant</a></li>
                    <li class="menu-item"><a class="link link-close" href="#">mobile app</a></li>
                </ul>
            </nav>
            <div class="mute-btn">
                <audio src=""></audio>
            </div>
        </div>
        <button class="burger">
            <span></span>
        </button>
    </div>
</header>