<div class="load-wrapper">
    <img class="line left" src="./images/icons/loader-line.svg" alt="line" />
    <img class="line right" src="./images/icons/loader-line.svg" alt="line" />
    <div class="loading-content">
        <div class="loading-text-wrap">
            <p id="loading-text">Loading</p>
            <span id="loading-percentage">0%</span>
        </div>
        <div class="progress-bar">
            <div class="progress-value"></div>
        </div>
    </div>
    <script type="module" src="/js/preloader.ts"></script>
</div>
