@font-face {
    font-family: "Degular Text";
    src: url('../fonts/DegularText-Medium.woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Degular Text";
    src: url('../fonts/DegularText-Black.woff');
    font-style: normal;
    font-weight: 800;
}